$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background-color: #DDDDDF;
  color: #7CB4B8;
  margin: 20px auto;
  padding-left: 30%;
  padding-top: 30px;
}

h1{
  text-align: center;
}

.signup {
  float: left;
}

.signin {
  position: absolute;
}

.allbuttons {
  padding: 2px;
}

.square {
  margin: 80px;
  padding-top: 10 0px;
}
//
.cell {
  border: 4px #FF928B solid;
  border-left: 0;
  border-top: 0;
  float: left;
  height: 100px;
  padding: 90px;
  width: 100px;
}
//
.row2 {
  clear: both;
}
//
.row3 {
  clear: both;
}
//
.edge {
  border-right: 0;
}
//
.down {
  border-bottom: 0;
}
